@model FamilyRegistration.ViewModels.RegistrationCompleteViewModel

@{
    ViewBag.Title = "Welcome To Northeast Chirstian!";
}

<div class="auth-box register">
    <div class="content">
        <div class="header">
            <h3 class="text-success">Registration Complete!</h3>
            @if(!Model.AddedChildren)
            {
                <h4><b>Awesome!</b> You have finished registration of your family without adding any children. If you think this is in error, 
            please use the button below to search our database for your family and try again.</h4>
            }
            else
            {
                var kids = String.Join(",", Model.ChildrenAdded.Select(x => x.FirstName).ToList());
                <h4><b>Awesome!</b> You have finished registration for the <b>@Model.ChildrenAdded.First().FamilyName family</b>. You may now check in your kids (@kids) 
  
            to the nursery or KidVille!</h4>
            <p>If you need any additonal assitance, please find a volunteer or staff member. Thanks for coming to Northeast, we're glad you're here!</p>
            }

        </div>
        <a href="@Url.Action("Find")" class="btn btn-lg btn-default btn-block margin-top-30">Add Children</a>
        <div class="bottom text-center margin-top-30">
            <span class="helper-text">Make a wrong turn? <a href="@Url.Action("Index")">Go Back</a></span>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
            $(document).ready(function () {

                setTimeout(function () {
                    // similar behavior as an HTTP redirect
                    window.location.replace("@Url.Action("Index")");

                }, 10000);
            });
    </script>
    }