@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    <span class="clearfix title">
        <span class="number">500</span>
        <p>Internal Server Error</p>
    </span>
</h1>
<p class="margin-bottom-30">
    Ooops. Something went wrong. If the error continues to happen, please contact an administrator.
</p>